<ion-view view-title="{{'VIEW_TITLES.ABOUT' | translate }}" hide-nav-bar="false">
    <ion-nav-title>
        <div style="height:85%">
            <img src="img/IB Logo.png" class="padding-horizontal" width="100%" style="max-width:210px" id="nav-logo">
        </div>
    </ion-nav-title>
    <ion-content class="calm-bg padding" style="letter-spacing: 0.03em">
        <h2 class="light text-center padding">
            {{'ABOUT.CONTENT1' | translate}}
        </h2>
        <h4 class="light padding">
            {{'ABOUT.CONTENT2' | translate}}
        </h4>
        <h4 class="light padding">
            {{'ABOUT.CONTENT3' | translate}}
        </h4>
    </ion-content>
</ion-view>
