<ion-view class="calm-bg light" view-title="{{'VIEW_TITLES.EULA' | translate}}" hide-nav-bar="false">
    <ion-nav-title>
        <div style="height:85%">
            <img src="img/IB Logo.png" class="padding-horizontal" width="100%" style="max-width:210px" id="nav-logo">
        </div>
    </ion-nav-title>
    <ion-content class="padding light">
        <div class="light">
        <h1 class="underline light">
            {{'EULA.1' | translate}}
        </h1>
        <h3 class="underline light">
            {{'EULA.2' | translate}}
        </h3 class="light">
        <h5 class="light">
            {{'EULA.3' | translate}}
        </h5 class="light">
        <h3 class="light">
            {{'EULA.4' | translate}}
        </h3 class="light">
        <h5 class="light">
            {{'EULA.5' | translate}}
        </h5 class="light">
        <h5 class="light">
            {{'EULA.6' | translate}}
        </h5 class="light">
        <h3 class="light">
            {{'EULA.7' | translate}}
        </h3 class="light">
        <h5 class="light">
            {{'EULA.8' | translate}}
        </h5 class="light">
        <h5 class="light">
            {{'EULA.9' | translate}}
        </h5 class="light">
        <h3 class="light">
            {{'EULA.10' | translate}}
        </h3 class="light">
        <h5 class="light">
            {{'EULA.11' | translate}}
        </h5 class="light">
        <h5 class="light">
            {{'EULA.12' | translate}}
        </h5 class="light">
        <h5 class="light">
            {{'EULA.13' | translate}}
        </h5 class="light">
        <h5 class="light">
            {{'EULA.14' | translate}}
        </h5 class="light">
        <h3 class="light">
            {{'EULA.15' | translate}}
        </h3 class="light">
        <h5 class="light">
            {{'EULA.16' | translate}}
        </h5 class="light">
        <h3 class="light">
            {{'EULA.17' | translate}}
        </h3 class="light">
        <h5 class="light">
            {{'EULA.18' | translate}}
        </h5 class="light">
        <h3 class="light">
            {{'EULA.19' | translate}}
        </h3 class="light">
        <h5 class="light">
            {{'EULA.20' | translate}}
        </h5 class="light">
        <h3 class="light">
            {{'EULA.21' | translate}}
        </h3 class="light">
        <h5 class="light">
            {{'EULA.22' | translate}}
        </h5 class="light">
        <h3 class="light">
            {{'EULA.23' | translate}}
        </h3 class="light">
        <h5 class="light">
            {{'EULA.24' | translate}}
        </h5 class="light">
        <h3 class="light">
            {{'EULA.25' | translate}}
        </h3 class="light">
        <h5 class="light">
            {{'EULA.26' | translate}}
        </h5 class="light">
        <h3 class="light">
            {{'EULA.27' | translate}}
        </h3 class="light">
        <h5 class="light">
            {{'EULA.28' | translate}}
        </h5 class="light">
        <h3 class="light">
            {{'EULA.29' | translate}}
        </h3 class="light">
        <h5 class="light">
            {{'EULA.30' | translate}}
        </h5 class="light">
        <h3 class="light">
            {{'EULA.31' | translate}}
        </h3 class="light">
        <h5 class="light">
            {{'EULA.32' | translate}}
        </h5 class="light">
        <h5 class="light">
            {{'EULA.33' | translate}}
        </h5 class="light">
        <h5 class="light">
            {{'EULA.34' | translate}}
        </h5 class="light">
        <h5 class="light">
            {{'EULA.35' | translate}}
        </h5 class="light">
        <h3 class="light">
            {{'EULA.36' | translate}}
        </h3 class="light">
        <h5 class="light">
            {{'EULA.37' | translate}}
        </h5 class="light">
        <h5 class="light">
            {{'EULA.38' | translate}}
        </h5 class="light">
        <h3 class="light">
            {{'EULA.39' | translate}}
        </h3 class="light">
        <h5 class="light">
            {{'EULA.40' | translate}}
        </h5 class="light">
        <h5 class="light">
            {{'EULA.41' | translate}}
        </h5 class="light">
        <h3 class="light">
            {{'EULA.42' | translate}}
        </h3 class="light">
        <h5 class="light">
            {{'EULA.43' | translate}}
        </h5 class="light">
        <h3 class="light">
            {{'EULA.44' | translate}}
        </h3 class="light">
        <h5 class="light">
            {{'EULA.45' | translate}}
        </h5 class="light">
        <h5 class="light">
            {{'EULA.46' | translate}}
        </h5 class="light">
        <h3 class="light">
            {{'EULA.47' | translate}}
        </h3 class="light">
        <h5 class="light">
            {{'EULA.48' | translate}}
        </h5 class="light">
        <h3 class="light">
            {{'EULA.49' | translate}}
        </h3 class="light">
        <h5 class="light">
            {{'EULA.50' | translate}}
        </h5 class="light">
        </div>
    </ion-content>
</ion-view>