<ion-view view-title="{{'VIEW_TITLES.INSTANT_FORM' | translate }}" hide-nav-bar="false">
    <ion-nav-title>
        <div style="height:85%">
            <img src="img/IB Logo.png" class="padding-horizontal" width="100%" style="max-width:210px" id="nav-logo">
        </div>
    </ion-nav-title>
    <ion-nav-buttons side="right" >
        <button class="button button-icon button-clear ion-ios-information-outline" ui-sref="app.wizards-about"></button>
    </ion-nav-buttons>
    <ion-content class='padding'>
        
        <div class="padding text-center calm results-title">
            {{'FORMS.INSTANT.TITLE' | translate}}
        </div>
        <form name="instantForm" ng-submit="instantSubmitForm(instantForm)" class="padding" novalidate>
            <label class="item item-input">
                <span class="input-label item-text-wrap">{{'Field One' | translate }}</span>
                <input type="tel" ng-pattern="/^[0-9]{5}$/" ng-model="instantInputs.zipCode" name="zipCode" required>
                <i class="icon ion-alert assertive" style="font-size:20px;position:absolute;right:-2px;top:9px" ng-show="instantForm.zipCode.$invalid && instantForm.$submitted"></i>
            </label>
            <label class="item item-input">
                <span class="input-label item-text-wrap">{{'DATA.ANNUAL' | translate }}</span>
                <p style="position: relative; right: 2px; top: 2px">$</p>
                <input type="tel" ng-model="instantInputs.annualIncome" name="annualIncome" required currency-mask>
                <i class="icon ion-alert assertive" style="font-size:20px;position:absolute;right:-2px;top:29px" ng-show="instantForm.annualIncome.$invalid && instantForm.$submitted"></i>
            </label>
             <label class="item item-input item-select padding">
                <div class="input-label item-text-wrap">
                  {{'DATA.PERSONS.NUMBER' | translate }}
                </div>
               <select ng-model="instantInputs.numberInHousehold" style="padding-left:0px" name="numberInHousehold" required>
                    <!--<option selected>({{dropOne}})</option>-->
                    <option value="0">{{'DATA.PERSONS.0' | translate}}</option>
                    <option value="1">{{'DATA.PERSONS.1' | translate}}</option>
                    <option value="2">{{'DATA.PERSONS.2' | translate}}</option>
                    <option value="3">{{'DATA.PERSONS.3' | translate}}</option>
                    <option value="4">{{'DATA.PERSONS.4' | translate}}</option>
                </select>
                <i class="icon ion-alert assertive" style="font-size:20px" ng-show="instantForm.numberInHousehold.$invalid && instantForm.$submitted"></i>
            </label>
            
            <label class="item item-input item-select padding">
                <div class="input-label item-text-wrap">
                  {{'DATA.HOUSEHOLD.TYPE' | translate }}
                </div>
                <!-- ({{'DATA.HOUSEHOLD.TYPE' | translate }}) -->
                <select ng-model="inst.householdDescription" style="padding-left:3px" ng-change="withKids()" name="householdDescription" required>
                    <!--<option selected>({{dropTwo}})</option>-->
                    <option value="0">{{'DATA.HOUSEHOLD.0' | translate }}</option>
                    <option value="1">{{'DATA.HOUSEHOLD.1' | translate }}</option>
                    <option value="2">{{'DATA.HOUSEHOLD.2' | translate }}</option>
                    <option value="3">{{'DATA.HOUSEHOLD.3' | translate }}</option>
                    <option value="4">{{'DATA.HOUSEHOLD.4' | translate }}</option>
                </select>
                <i class="icon ion-alert assertive" style="font-size:20px;z-index:1" ng-show="instantForm.householdDescription.$invalid && instantForm.$submitted"></i>
            </label>
            <label class="item item-input item-select padding" ng-show="haveKids">
                <div class="input-label  item-text-wrap">
                  {{'DATA.OLDEST_CHILD.TYPE' | translate }}
                </div>
                <!-- ({{'DATA.OLDEST_CHILD.TYPE' | translate }}) -->
                <select ng-model="instantInputs.householdKids" name="householdKids">
                    <!--<option selected>({{dropTwo}})</option>-->
                    <option value="0">{{'DATA.OLDEST_CHILD.0' | translate }}</option>
                    <option value="1">{{'DATA.OLDEST_CHILD.1' | translate }}</option>
                    <option value="2">{{'DATA.OLDEST_CHILD.2' | translate }}</option>
                </select>
                <i class="icon ion-alert assertive" style="font-size:20px" ng-show="instantForm.householdKids.$invalid && instantForm.$submitted"></i>
            </label>
            
            <button type="submit" class="button square-button button-block button-energized letter-spacing zebit-button">
                {{'FORMS.SUBMIT' | translate }}
            </button>
        </form>
    </ion-content>
</ion-view>