<ion-view view-title="{{'VIEW_TITLES.SAVINGS_FORM' | translate }}" hide-nav-bar="false">
    <ion-nav-title>
        <div style="height:85%">
            <img src="img/IB Logo.png" class="padding-horizontal" width="100%" style="max-width:210px" id="nav-logo">
        </div>
    </ion-nav-title>
    <ion-content>
        <h3 class="calm text-center padding">
            {{'FORMS.SAVINGS.RADIOS.TITLE' | translate }}
        </h3>
        <form name="savingsForm" ng-submit="submitSavingsForm(savingsForm)">
            <div class="padding text-center">
                <label type="text" ng-show="low">{{'FORMS.SAVINGS.SLIDER.0' | translate}}</label>
                <label type="text" ng-show="med">{{'FORMS.SAVINGS.SLIDER.1' | translate}}</label>
                <label type="text" ng-show="high">{{'FORMS.SAVINGS.SLIDER.2' | translate}}</label>
            </div>
            <div class="item range range-balanced">
                <label type="text">{{'FORMS.SAVINGS.RADIOS.LOW' | translate }}</label>
                <input type="range" min="0" max="2" step="1" name="slider" ng-model="sliderValue.input" ng-change="onChangeTest()">
                <label type="text">{{'FORMS.SAVINGS.RADIOS.HIGH' | translate }}</label>
            </div>
            <div class="padding-horizontal">
            <button type="sumbit" class="button letter-spacing square-button button-block button-energized">
                {{'FORMS.SUBMIT' | translate }}
            </button>
            </div>
        </form>
    </ion-content>
</ion-view>