<ion-view view-title="{{'APP.NAME' | translate }}" hide-nav-bar="false">
  <!-- Include ion-nav-buttons in every index to avoid breaking the app (ionic material bug) -->
  <ion-nav-buttons></ion-nav-buttons>
  <ion-content>
    <div class="padding text-center subheader">
        {{'FORMS.REGISTER_TITLE' | translate}}
    </div>
    
    <form name="registerForm" class="padding" ng-submit="submitRegisterForm(registerForm)" novalidate>
      <div class="list list-inset animate-ripple">
        
        <ion-input class="item item-input" ng-class="{ 'has-errors' : registerForm.email.$invalid && registerForm.$submitted}">
          <ion-label class="item-text-wrap">
            {{'FORMS.INPUTS.EMAIL' | translate }}
          </ion-label>
          <input type="email" name="email" ng-model="registerData.email" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" required>
        </ion-input>
        
        <ion-input class="item item-input" ng-class="{ 'has-errors' : registerForm.password.$invalid && registerForm.$submitted}">
          <ion-label class="item-text-wrap">
            {{'FORMS.INPUTS.PASSWORD' | translate }}
          </ion-label>
          <input type="password" name="password" ng-model="registerData.password" pattern="(?=^.{8,}$)((?=.*\d)(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required>
          <!--<icon class="button button-small button-icon icon ion-ios-help-outline input-icon ng-class:{'assertive' : registerForm.password.$invalid && registerForm.$submitted}" ng-click="showPopup($event, 'FORMS.POPOVERS.1' ,true)"></icon>-->
        </ion-input>
        
        <ion-input class="item item-input" ng-class="{ 'has-errors' : registerForm.rePassword.$invalid && registerForm.$submitted}">
          <ion-label class="item-text-wrap">
            {{'FORMS.INPUTS.REPEAT_PASSWORD' | translate}}
          </ion-label>
          <input type="password" name="rePassword" ng-model="repeatPassword.password" required>
        </ion-input>
        
        <ion-checkbox name="eula" ng-model="registerData.hasAcceptedEULA" class="checkbox-calm" ng-class="{ 'has-errors' : !registerForm.eula.$modelValue && registerForm.$submitted}" required>
          {{'FORMS.INPUTS.EULA' | translate}}
        </ion-checkbox>
        <ion-checkbox ng-model="checkbox.rememberMe" class="no-border checkbox-calm">
          {{'FORMS.INPUTS.REMEMBER_ME' | translate}}
        </ion-checkbox>
      </div>
      <div class="list animate-ripple">
        <button class="item button button-block button-calm" type="button" style="margin:0" ng-click="navEula()">
          {{'FORMS.BUTTONS.EULA' | translate}}
        </button>
        <button class="item button button-block button-calm" type="submit" ion-track-tap="Register-tap" ion-track-data="{ mockData: 'User tapped Register'}">
          {{'FORMS.BUTTONS.SUBMIT' | translate}}
        </button>
      </div>
    </form>
  </ion-content>
</ion-view>