<ion-view view-title="{{'SETTINGS.CREDITS.HEADER' | translate }}" hide-nav-bar="false">
    <ion-nav-title>
        <div style="height:85%">
            <img src="img/IB Logo.png" class="padding-horizontal" width="100%" style="max-width:210px" id="nav-logo">
        </div>
    </ion-nav-title>
    <ion-content class="padding calm-bg">
        <div class="padding text-center results-title">
            {{'SETTINGS.CREDITS.HEADER' | translate}}
        </div>
        <div class="padding text-center results-title">
            Designed by Zebit, Inc.
            <br><br>
            Michael Thiemann, CEO<br>
            Tommy Picard, Head of Creative<br>
            Maureen Beckman, Manager, Marketing<br>
            Steve Biafore, Senior Consultant<br>
            <br><br>
            Developed by SoftStack Factory<br>
            <br><br>
            Harold Gottschalk, CEO<br>
            Ryn Corbell, Headmaster<br>
            <br><br>
            Development team:<br>
            John Brown, Paul Thiemann, Zach Smith
        </div>
    </ion-content>
</ion-view>