<ion-view view-title="{{'VIEW_TITLES.REGISTER_WIZARD' | translate}}">
    <ion-nav-title>
        <div style="height:85%">
            <img src="img/IB Logo.png" class="padding-horizontal" width="100%" style="max-width:210px" id="nav-logo">
        </div>
    </ion-nav-title>
    <ion-nav-buttons side="right" >
    </ion-nav-buttons>
    
    <ion-content class="padding calm-bg light" scroll="false">
        <h1 class="light padding-top text-center">{{'WIZARDS.REGISTER.PAGE1.TITLE' | translate}}</h1>
        <br>
        <h4 class="light padding-horizontal">{{'WIZARDS.REGISTER.PAGE1.CONTENT1' | translate}}</h4 class="light">
        <h4 class="light padding-horizontal">{{'WIZARDS.REGISTER.PAGE1.CONTENT2' | translate}}</h4 class="light">
        <h4 class="light padding-horizontal">{{'WIZARDS.REGISTER.PAGE1.CONTENT3' | translate}}</h4 class="light">
        <h4 class="light padding-horizontal">{{'WIZARDS.REGISTER.PAGE1.CONTENT4' | translate}}</h4 class="light">
        <h4 class="light padding-horizontal">{{'WIZARDS.REGISTER.PAGE1.CONTENT5' | translate}}</h4 class="light">
        <h4 class="light padding-horizontal">{{'WIZARDS.REGISTER.PAGE1.CONTENT6' | translate}}</h4 class="light">
        <br><br>
        <button class="button spacecaps button-energized zebit-button" style="width: 60%;" ng-click="continue()">{{'REGISTER_CTRL.SUBMIT_BUTTON' | translate}}</button>
    </ion-content>
</ion-view>