<ion-view view-title="{{'LANDING_CTRL.TITLE' | translate }}" hide-nav-bar="false">
    <!-- Include ion-nav-buttons in every index to avoid breaking the app (ionic material bug) -->
    <ion-nav-buttons></ion-nav-buttons> 
    <ion-content>
        <div class="padding list animate-ripple">
            <button class="item button button-block button-calm" ng-click="login()">
                Login
            </button>
            <button class="item button button-block button-calm" ng-click="register()">
                Register
            </button>
        </div>
    </ion-content>
</ion-view>