<ion-view title="Order Page">
    <ion-content>
        <h2>Curb Appeal Services</h2>
        <h4> Enter Quantity</h4>
        <!--Input for ordering a Face Wash-->
        <label class="item item-input">
            <span class="input-label"> Window Wash (Exterior Only) <br> $5 per window</span>
            <input type="number">
        </label>
        <label class="item item-input">
            <span class="input-label"> Window Wash (Exterior and Interior)<br> $8 per window</span>
            <input type="number" >
        </label>
          <!--Input for Blower Services-->
          <label class="item item-input">
            <span class="input-label" >Blower Services <br> $25 per service</span>
            <input type="number">
        </label>
         <!--Input for ordering Lawn Make UP-->
        <label class="item item-input">
            <span class="input-label" >Lawn Make Up Service <br> $25 per service </span>
            <input type="number">
        </label>
           <button class="button button-full button-positive" ui-sref="ordertotal">
                Proceed to Checkout
        </button>
    </ion-content>
</ion-view>