 <ion-view  title="Lawn Make Up Service Order">
     <ion-content>
         <h3> Enter Quantity</h3>
         <!--Input for ordering Lawn Make UP-->
        <label class="item item-input">
            <span class="input-label" >Lawkn Make Up Service </span>
            <input type="number" placeholder="$25 minimum">
        </label>
        <div class="card" >
            <div class="item item-divider">
           Blower Services Includes:
            </div>
            <div class="item item-text-wrap">
               Hide unexpected Brown Spots on the front lawn of your listing with Eco Friendly Grean Concealer! <br>
               $50 minimum combined services order<br>
               <strong>Total:</strong>
            </div>
        </div>
        <button class="button button-full button-positive">
            Add to Cart
        </button>
    </ion-content>
</ion-view>