<ion-view>
    <ion-content>
        <strong>Please enter the location where you would like services provided</strong>
            <label class="item item-input item-floating-label">
                <span class="input-label"> Location Address</span>
                <input type="text" placeholder="6345 Lake Arrowhead Dr. San Diego, CA 92119">
            </label>
        <button class="button button-full button-positive" ui-sref="order">
          Confirm
        </button>
    </ion-content>
</ion-view>