<ion-view view-title="Location Details">
    <ion-content>
        <form>
            <!--Input for the location Address-->
            <label class="item item-input item-floating-label">
                <span class="input-label">Location Address</span>
                <input type="text" placeholder="Location Address">
            </label>
             <button class="button button-full button-positive" type="submit" ui-sref="order">
                Confirm Location Details
            </button>
        </form>
    </ion-content>
</ion-view>