<ion-view title="Order Home">
    <ion-content>
         <button class="button button-full button-positive">
            Double Post  $50
        </button>
        <button class="button button-full button-positive" ui-sref="windows">
            Windows
        </button>
        <button class="button button-full button-positive" ui-sref="lawn">
            Lawn Makeup
        </button>
         <button class="button button-full button-positive" ui-sref="blower">
            Blower
        </button>
        
    </ion-content>
</ion-view>