 <ion-view>
  <ion-content>
 <h3>Order Total</h3>   
     <div class="card">
            <div class="item item-divider">
               Window Wash - Exterior Only
            </div>
            <div class="item item-text-wrap">
           <strong> Quantity:</strong> &ensp; &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
           <strong> Price:</strong>
            </div>
        </div>
        <div class="card">
         <div class="item item-divider">
              Window Wash - Exterior and Interior
            </div>
            <div class="item item-text-wrap">
           <strong> Quantity:</strong>  &ensp; &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
           <strong> Price:</strong>
            </div>
        </div>
        <div class="card">
            <div class="item item-divider">
                Blower Services
            </div>
            <div class="item item-text-wrap">
            <strong> Quantity:</strong> &ensp; &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
            <strong> Price:</strong>
            </div>
        </div>
        <div class="card">
            <div class="item item-divider">
                Lawn Make Up Service
            </div>
            <div class="item item-text-wrap">
            <strong> Quantity:</strong>  &ensp; &ensp;&ensp;&ensp;&ensp;&ensp;&ensp;
            <strong> Price:</strong>
            </div>
        </div>
         <div class="card">
            <div class="item item-divider">
                Double Post
            </div>
            <div class="item item-text-wrap">
            <strong> Price:</strong>
            </div>
        </div>
         <label class="item item-input">
                <textarea placeholder="Please type any additional instructions here."></textarea>
            </label>
         <div>
        &ensp;<strong>Order Total:</strong>
        </div> <br>
    
         
          <button class="button button-full button-positive">
            Submit Order
        </button>
        </ion-content> 
</ion-view>