 <ion-view  title="Order Post">
     <ion-content>

        <div class="card" >
            <div class="item item-divider">
           Please submit a picture of where you would like your post to be placed:
            </div>
        </div>
         <label class="item item-input">
                <textarea placeholder="Please type any additional instructions here."></textarea>
            </label>
        <button class="button button-full button-positive">
            Add to Cart
        </button>
    </ion-content>
</ion-view>