<ion-view title="Windows Order Screen">
    <ion-content>
        <label class="item item-input">
            <span class="input-label">Number</span>
            <input type="number">
        </label>
        <div class="card">
            <div class="item item-divider">
            Window Cleaning Includes:
            </div>
            <div class="item item-text-wrap">
                Polish the front of your listing with a quick window wash(up to two story house).<br>
                $50 minimum combined services order. 
            </div>
        </div>
          <button class="button button-full button-positive">
            Order
        </button>
    </ion-content>
</ion-view>