<ion-view view-title="{{'VIEW_TITLES.REGISTER' | translate }}" hide-nav-bar="false">
    <ion-nav-title>
        <!--div style="height:85%">
            <img src="img/IB Logo.png" class="padding-horizontal" width="100%" style="max-width:210px" id="nav-logo">
        </div-->
    </ion-nav-title>
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-ios-information-outline" ui-sref="app.wizards-register"></button>
    </ion-nav-buttons>
  <ion-content>
    <div class="padding text-center results-title">
        {{'REGISTER_CTRL.TITLE' | translate}}
    </div>
    
    <form name="registerForm" class="padding" ng-submit="submitRegisterForm(registerForm)" novalidate>
      <div class="list">
        <div class="item item-input row">
          <label class="item-input row">
            <span class="input-label item-text-wrap">{{'REGISTER_CTRL.EMAIL_FIELD' | translate }}</span>
            <input type="email" ng-pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" name="email" ng-model="registerData.email" required>
            <i class="icon ion-alert assertive" style="font-size:20px;position:relative;right:15px"ng-show="registerForm.email.$invalid && registerForm.$submitted"></i>
          </label>
        </div>
        <!--div class="item item-input item-button-right row">
          <label class="item-input row">
            <span class="input-label item-text-wrap">{{'REGISTER_CTRL.EMPLOYER_FIELD' | translate }}</span>
            <input type="text" ng-model="registerData.employer">
          </label>
          <a class="padding-top button button-small button-icon icon ion-ios-help-outline i-button2" ng-click="showPopup($event, 'REGISTER_CTRL.EMPLOYER_POPUP' ,true)"></a>
        </div-->
        <div class="item item-input item-button-right row">
          <label class="item-input row">
            <span class="input-label item-text-wrap">{{'REGISTER_CTRL.PASSWORD_FIELD' | translate }}</span>
            <input type="password" name="password" ng-model="registerData.password" pattern="(?=^.{8,}$)((?=.*\d)(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required>
            <!--i class="icon ion-alert assertive" style="font-size:20px;position:relative;right:15px" ng-show="registerForm.password.$invalid && registerForm.$submitted"></i-->
          </label>
          <a class="padding-top button button-small button-icon icon ion-ios-help-outline i-button2 ng-class:{assertive : registerForm.password.$invalid && registerForm.$submitted}" ng-click="showPopup($event, 'REGISTER_CTRL.PASSWORD_POPUP' ,true)"></a>
        </div>
        
        <div class="item item-input row">
          <label class="item-input row">
            <span class="input-label item-text-wrap">{{'REGISTER_CTRL.REPEAT_PASSWORD' | translate }}</span>
            <input type="password" ng-model="repeatPassword.password" ng-class="{ 'has-errors' : registerForm.password.$invalid && registerForm.$submitted}"  required>
          </label>
        </div>  
        <ion-checkbox ng-model="registerData.hasAcceptedEULA" class="no-border checkbox-calm">{{'REGISTER_CTRL.EULA' | translate}}</ion-checkbox>
        <ion-checkbox ng-model="checkbox.rememberMe" class="no-border checkbox-calm">{{'LOGIN_CTRL.REMEMBER_ME' | translate}}</ion-checkbox>

      </div>
      <button class=" button button-block button-royal spacecaps" style="margin:0" ui-sref="app.configure-eula">
          {{'REGISTER_CTRL.EULA_BUTTON' | translate}}
        </button>
      <button class="button spacecaps button-block square-button button-energized" type="submit" ion-track-tap="Register-tap" ion-track-data="{ mockData: 'User tapped Register'}">{{'REGISTER_CTRL.SUBMIT_BUTTON' | translate}}</button>
    </form>
  </ion-content>
</ion-view>