<ion-modal-view>
	<ion-header-bar class="calm-bg">
		<h1 class="title modal-title light">{{'SUGGESTIONS.GENERAL.TITLE' | translate}}</h1>
		<a class="button button-clear" ng-click="modal0.hide(); modal1.hide(); modal2.hide()"><span class="icon light ion-close"></span></a>
	</ion-header-bar>
	<ion-content class="padding stable-bg">
    <div class="row">
      <div class="col">
        <div class="privacy-policy">
        	<h2 class="text-center"> {{'DATA.FOOD.1_CONTEXT' | translate}} </h2>
        	<br>
    			<h4> {{'SUGGESTIONS.FOOD_AT_HOME.0' | translate}} </h4>
    			<h4> {{'SUGGESTIONS.FOOD_AT_HOME.1' | translate}} </h4>
    			<h4> {{'SUGGESTIONS.FOOD_AT_HOME.2' | translate}} </h4>
    		</div>
			</div>
		</div>
	</ion-content>
</ion-modal-view>
